<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>npool faucet</title>

</head>

<body>
    <h1 style="margin-left: 1rem;color: dimgray;">Npool Faucet</h1>
    <div id="content">
        <div>
            <div class="item">
                <span class="item_key"></span>
                <h2 style="display: inline-block;height: 3rem;">Ethereum</h2>
            </div>
            <div class="item">
                <span class="item_key">Token</span>
                <select name="tokens" id="tokens" v-model="selectedCoin" style="height: 1.2rem;font-size: 0.8rem;">
                    <option value="" selected="true">select token</option>
                    <option v-for="coin in coinsInfo" v-bind:value="coin.PrivateContract">{{ coin.Name }}</option>
                </select>
            </div>
            <div class="item">
                <span class="item_key">Contract</span>
                <input class="item_input" type="text" v-bind:value="selectedCoin">
            </div>
            <div class="item">
                <span class="item_key">To</span>
                <input class="item_input" type="text" v-model="to">
            </div>
            <div class="item">
                <span class="item_key">Amount</span>
                <input class="item_input" type="text" v-model="amount">
            </div>
            <div class="item">
                <span class="item_key"></span>
                <button style="width: 3rem;font-size: 0.8rem;" @click="sendTx">send</button>
            </div>
            <div class="item">
                <span class="item_key">Tx-log:</span>
                <div class="item_input">
                    <div v-for="log in txLog" :style="{color: log.color}" style="font-size: 0.6rem;width: 95%;">
                        <br>
                        To:{{log.to}} <br>Msg:{{log.msg}}
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    const GetCoinsInfoAPI = {
        url: "/v1/get/token/infos",
        method: "POST",
        args: null,
    }
    const FaucetAPI = {
        url: "/v1/faucet",
        method: "POST",
        args: {
            to: "",
            amount: "",
            contract: "",
        },
    }


    const {
        createApp
    } = Vue
    app = createApp({
        data() {
            return {
                coinsInfo: [],
                selectedCoin: "",
                to:"",
                amount:"",
                txLog:[],
            }
        },
        mounted() {
            axios.post(GetCoinsInfoAPI.url, "")
                .then(res => {
                    this.coinsInfo = res.data.Infos
                })
                .catch(err => {
                    alert(err);
                })
        },
        methods: {
            sendTx(event){
                if (this.txLog.length > 10) {
                    this.txLog.splice(10,5)
                }
                axios.post(FaucetAPI.url, {To:this.to,Amount:this.amount,Contract:this.selectedCoin})
                .then(res => {
                    this.txLog.unshift({msg:res.data.Msg,to:this.to,color:"#6699ff"})
                })
                .catch(err => {
                    console.log(err)
                    this.txLog.unshift({msg:err.response.data.message,to:this.to,color:"#ee6633"})
                })
            },
        },
    }).mount('#content')



</script>

</html>